BeautifulSoup==3.2.0
Django==1.3.1
Markdown==2.0.3
Mezzanine==0.11.10
PIL==1.1.7
Pinax==0.9a1
South==0.7.3
Whoosh==2.3.0
amqplib==1.0.2
anyjson==0.3.1
argparse==1.2.1
biblion==0.1.dev11
celery==2.4.0
django-ajax-validation==0.1.3
django-appconf==0.4.1
django-appmedia==1.0.1
django-articles==2.4.2
django-basic-apps==0.7
django-blog-zinnia==0.9
django-celery==2.4.0
django-classy-tags==0.3.4.1
django-cms==2.2
django-cms-taggit==0.1
django-compressor==1.1.1
django-debug-toolbar==0.8.5
django-devserver==0.3.1
django-disqus==0.4.1
django-extensions==0.7.1
django-filter==0.5.3
django-indexer==0.3.0
django-jsonfield==0.6
django-mailer==0.1.0
django-modeldict==1.1.6
django-mptt==0.5.0
django-pagination==1.0.7
django-paging==0.2.4
django-picklefield==0.1.9
django-sekizai==0.5
django-sentry==1.13.5
django-tagging==0.3.1
django-taggit==0.9.3
django-templatetag-sugar==0.1
django-test-utils==0.3
django-threadedcomments==0.5.3
django-uni-form==0.9.0
django-xmlrpc==0.1.3
django-yaba==0.2.7
eventlet==0.9.16
feedparser==5.0.1
filebrowser-safe==0.1.2
gargoyle==0.4.0
grappelli-safe==0.1.8
greenlet==0.3.1
haystack==0.13
html5lib==0.90
httplib2==0.7.1
kombu==1.4.3
lockfile==0.9.1
mingus==0.4.2.3
nexus==0.2.0
oauth2==1.5.170
-e git://github.com/flother/participationgraphs.git@a0aff9b8b502e2849fe61d147f8b1b4d9294afb8#egg=participationgraphs-dev
pyparsing==1.5.6
python-daemon==1.6
python-dateutil==1.5
python-ptrace==0.6.3
python-twitter==0.8.2
raven==0.6.1
simplejson==2.2.1
smartypants==1.6.0.3
-e git://github.com/flother/staticgenerator.git@dfb85ef3ef63762decdcfcbb45ba83998f250e0e#egg=staticgenerator-dev
twitter==1.7.1
-e svn+http://typogrify.googlecode.com/svn/trunk@16#egg=typogrify-1.0-py2.7-dev_r16
wsgiref==0.1.2
